body {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

html{
  font-size: medium;
}


.const {
  display: grid;
  height: 100%;
  background-size: cover;

}

.header{
  width: 100%;
  height: 100vh;
  position: relative;
  perspective: 100rem;
  overflow: hidden;

}
.img{
  width: 100%;
  height: 100%;
 
  overflow: hidden;
}


.img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  animation: scale 25s;
}

.nitl{
  width: 10%;
  height: 10%;
  padding-left: 60%;
  
  position: relative;
  padding-bottom: 20%;
  border-radius: 50%;
  
}




.banner{
  position:absolute;
  top: 20%;
  left: 10%;
}

.banner h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: 250;
  color: #fff;
  width: 50%;
  line-height: 5rem;
  /* letter-spacing: 0.2rem; */
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 1;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
      
  font-family: "Josefin Slab", serif;
  font-size: 1.5rem;
  color: #fff;
  width: 60%;
  letter-spacing: 0.1rem;
  margin-bottom: 4rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 1;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  width: 20rem;
  height: 5rem;
  background-color: #1e2024;
  border: none;
  font-family: "Muli", serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 200px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fffbfb;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#ma{
  position:relative;
  width:100px;
  height:100px;

  left:1px;
  top:0px;
  z-index: 1;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;} 
 }

 .icon {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}
.insta {
  background: #55ACEE;
  color: white;
}

/* css for modal  */
.bg-modal
{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content{
  width:550px;
  height:400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  position: relative;
}
input{
  width: 50%;
  height: 24px;
  box-shadow: 1px 1px   #818181;
  display: block;
  margin: 15px auto;
}
.close
{
  position: absolute;
  top:0;
  left: 20px;
  font-size: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  
}
.button
{ 
  background-color: #ebab36; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
}
.button:hover
{
  background-color: black;
  color: #ebab36;
  
  
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
